@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

.container {
  width: 100%;
  padding-top: 45px;
  background-color: #e3e7eb;
}

.container > h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 1200px;
  display: flex;
  align-items: center;
  padding: 50px;
}

.card-right img {
  width: 800px;
}

.card-left {
  margin-left: 80px;
  width: 400px;
  height: 460px;
  font-size: 20px;
}

.card-left > h6 {
  margin-bottom: 15px;
  font-size: 20px;
  color: black;
}

.date {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.clock {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.tc-1 {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 15px;
}

.tc-1 > .react {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tc-1 > .node {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tc-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tc-2 > .js {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tc-2 > .io {
  display: flex;
  align-items: center;
  gap: 5px;
}

.about {
  width: 100%;
}

.isi {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.isi p {
  justify-content: center;
  display: block;
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 800px;
    display: block;
  }
  .card-right img {
    width: 100%;
  }
  .card-left {
    width: 500px;
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }
  .isi {
    width: 500px;
  }
}
@media only screen and (max-width: 650px) {
  .card {
    width: 250px;
    display: block;
  }
  .card-right img {
    width: 100%;
  }
  .card-left {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-top: 20px;

    margin: 0 auto;
  }
  .tc-1 {
    display: block;
  }
  .tc-2 {
    display: block;
  }
  .isi {
    width: 300px;
  }
}
